#### Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
- -87.8
- - 
- / 
- +
- 6

- "hello"   it is a string value.
- "-87.8"  is a float value.
-"-"  is a mathematical operators.
-"/"  is a mathematical operators.
- "+" is a mathematical operators.
- "6" is a integer value.

#### Q2. What is the difference between string and variable?

varialbe
variable is that in variable we can store the data to use in program

string is a type of a data that we can store that data by using variable

- ex-
- A = "Hello"
-In this example A is a variable and "Hello" is a string

#### Q3. Describe three different data types.

1. Integer
2. Float
3. Booleans

#### Q4. What is an expression made up of? What do all expressions do?

- An expression is a construct made up of variables, operators, and method.
- Expressions are representations of value.

#### Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

- An expression evaluates to a single value. A statement does not.

####Q6. After running the following code, what does the variable bacon contain?
- bacon = 22
- bacon + 1

In [7]:
bacon = 22
bacon + 1

23

- bacon will contain "23"

####Q7. What should the values of the following two terms be?
- 'spam' + 'spamspam'
- 'spam' * 3

- 'spam' + 'spamspam' ( it will concatenate and become "**spamspamspam**" )
- 'spam' * 3 (it will concatenate and become # "**spamspamspam**")
- Example -;

In [8]:
'spam' + 'spamspam'

'spamspamspam'

In [10]:
'spam' * 3

'spamspamspam'

####Q 8. Why is eggs a valid variable name while 100 is invalid?

- Because variable names can not begin with Numbers

####9. What three functions can be used to get the integer, floating-point number, or string version of a value?

- Integer use "int()"
- Floating-point number use "float()"
- String use "str()"

10. Why does this expression cause an error? How can you fix it?
- 'I have eaten ' + 99 + ' burritos.'

- In here "99" is an integer and string can only concatenated to other strings with the "+" operator.
- We can fix by using str() to convert “99” to a string.
- Example-;

In [31]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'